@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
    font-family: 'Lato', sans-serif;
}

.sotrudniki-begin {
    padding: 10px;
}


.ikonki-sotrudnikov {
    margin-top: 2%;
    margin-left: 8%;
}


.vidosiki {
    margin-top: 2%;
    margin-left: 8%;
}


.sotrudniki-opisanie {
    margin-top: 2%;
    display: inline-block;
    text-align: center;
}

.vidosiki-opisanie {
    margin-top: 2%;
    display: inline-block;
    text-align: center;
}


.otstup {
    margin-top: 30%;
    margin-left: 5%;
    float: left;
    /*background: black;*/
    color: black;
    display: flex;
    line-height: 1.3;
}


.diagram_for_stati {
    /*width: 1000px;*/
    height: 100px;
    /*background: black;*/
    margin-top: 10%;
    /*margin-right: 10%;*/
    margin-right: 30%;
    /*	margin-right: auto;*/
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    /*transform: rotate(180deg);*/
    flex-direction: row;
    /*background: yellow;*/
}

.diagram_for_coloumn {
    width: 30px;
    height: 50px;
    background: black;
    margin-left: 10px;
    color: yellow;
}


.centre {

    margin-left: 30%;
    margin-top: 5%;
}

.centre1 {

    margin-left: 25%;
    margin-top: 10%;
    /*margin-top: 5%;*/
}

.centre2 {

    margin-left: 22%;
    margin-top: 10%;
    /*margin-top: 5%;*/
}


.text-k-photo {

    padding: 1;
    background: black;
    color: white;
}


.gallery {
    padding: 20px;
    margin-left: 0;
    display: grid;
    grid-template-columns: repeat(9, auto);
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    overflow: scroll;
    color: white;
    scroll-snap-type: both mandatory;
    scroll-padding: auto;
}

.gallery, ul, li {
    width: 50%;
    font-family: 20%;
}

.group-list {
    margin-left: 30px;
    display: grid;
    grid-template-columns: repeat(9, auto);
    grid-template-rows: 150px;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    overflow: scroll;
    scroll-snap-type: both mandatory;
    scroll-padding: auto;
}

.nadp {
    color: black;

    margin-left: 50px;
}

.active {
    scroll-snap-type: unset;
}

.razmer {

    font-size: 200%;
}


.ikonka {

    font-size: 100%;
    width: 100px;
    height: 100px;
    background: #000000;
    color: white;
    text-decoration: none;
    padding: 0.5%;
}


.line {
    margin-left: auto;
    margin-right: auto;
    background: #FFD700;
    width: 100%;
    height: 2px;
}

.ikonki {
    padding: 0;
    margin: 0;
}


.container {
    margin-left: 4%;
    width: 100%;
    height: 100%;


}


.vremya {

    padding: 2%;
}

.opisanie-news {

    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin: 2vh;
    width: auto;
    display: block;

}


.perehod-news {

    margin-left: 2%;
    color: blue;
}

.knopki-for-news {
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #4676D7;
    font-size: 16px;
    color: white;
    display: inline-block;
    padding: 1rem;

}

.knopki-for-news:hover {
    background: #1d49aa;
}

.knopki-for-news:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
}

.ikonki-smi {
    margin-top: 15%;
    margin-left: 6.7%;
    height: 30vh;
    width: 30vh;
    border-radius: 3vh;
    background: black;
    text-align: center;
    color: white;
}

/*.strelka{
	margin-top: 2vh;
	background: black;
	height: 90%;
	width: 0.5vh;
	margin-left: auto;
	margin-right: auto;
}*/

.stroka {


}


.story {
    margin-top: 10px;
    text-align: center;
}


.strelka {
    background: #FFD700;
    height: 10vh;
    width: 2vh;
    border-radius: 0.7vh;
    margin: 1.7vh auto;
}


.publi {

    color: white;
    text-align: left;
    padding: 20px;
}

.knopki-for-publi {
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #4676D7;
    font-size: 16px;
    color: white;
    display: inline-block;
    padding: 1rem;

}

.knopki-for-publi:hover {
    background: #1d49aa;
}

.knopki-for-publi:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
}


.group {
    margin-top: 5vh;
    /* margin-left: 1.2px; */
}

.group h2 {
    color: black;
    margin-left: 20px;
}

.group p {
    color: black;
    text-align: center;
}

.group img {
    text-align: center;
}

.group li {
    height: 380px;
}

#group-id {
    margin-left: 0.2vh;
    width: 100%;
    height: 400px;
    list-style-type: none;
}


.news-list {
    margin-left: 30px;
    display: inline-grid;
    grid-template-columns: repeat(9, auto);
    grid-template-rows: 100px;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    overflow: scroll;
    scroll-snap-type: both mandatory;
    scroll-padding: auto;
    overflow-y: hidden;
}

.news {
    padding: 20px;
}


.news h5 {
    text-align: left;
    color: black;
    margin-left: 2px;
}

.news ul {
    margin-top: 20px;
}


.news img {
    display: flex;
    width: 300px;
}

.news li {
    width: 300px;
    align-items: baseline;
}

#news-id {
    margin-left: 0.2px;
    height: 300px;
    width: 100%;
    color: black;
    list-style-type: none;
}


#semianrs-id {
    margin-left: 0.2px;
    width: 100%;
    height: 380px;
    list-style-type: none;
}

.general-photo {
    border-radius: 10px;
}

.squre-prohod h2, h3, h4 {
    color: black;
}


.squre-prohod {
    margin-left: 10px;
    width: 90%;
    background-color: #C0C0C0;
    color: black;
    margin-top: 10px;
    padding: 1vh;
    border-radius: 1.7vh;
}


.squre-napravlenia {
    background: #C0C0C0;
    color: white;
    border-radius: 10px;
    width: 100%;
}

.squre-napravlenia h2 {
    color: black;
}

#squre-prohod-center {
    text-align: center;
}


#squre-napravlenia-li {
    list-style: none;
    margin-top: 10px;
    margin-left: 20px;
    color: white;
}

.squre-prohod h1 {
    width: 200px;
}


.squre-prohod ul, li {
    margin-left: 10px;
    margin-top: 10px;
    list-style: none;
}

.squre-prohod, ul, li, a:visited {
    color: inherit;
}


.squre-prohod li:visited {
    color: inherit;
}


.mest {
    text-align: center;
    display: inline-block;

}

.mesta {
    margin-top: 15px;
}


.otstup-prohod {
    /* padding: 2vh; */
}

.about-us {
    margin-top: 10px;
}

.about-us ul, li {
    width: 80%;
}

.about-us ul li p {
    width: 80%;
    list-style: none;
    color: black;
}

.contact-photo {
    width: 90%;
}

.squre-prohod li {
    color: #FFD700;
}

.vacanse-list {
    border-radius: 10px;
    text-align: left;
    width: 90%;
}


.vacanse-squre {
    padding: 20px;
}

.vacanse-list h4 {
    color: black;
}


.squre-infa-about-down {
    margin-top: 10px;

    color: white;
    width: 100%;
    height: 225px;
    background: black;
}

.squre-infa-about-down-networks {
    text-align: center;
    padding: 20px;
}

.squre-infa-about-down-networks a {
    width: 50px;
}

.squre-infa-contact-phone {
    text-align: center;
}

.squre-infa-contact-address {
    padding: 20px;
    text-align: center;
}

.squre-infa-contact {
    display: inline-block;
}
