<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleMenu.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>NewPhystech</title>

</head>


<body>

<header id="myHead" class="head">
    <div id="myUp" class="head__up">
        <nav class="up__logo">
            <a href="/">
                <p class="logo__new">Новый</p>
                <p class="logo__phystech">Физтех</p>
            </a>
        </nav>
        <nav id="myBurger" class="up__burger">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </nav>
    </div>

    <div id="myBottom" class="head__bottom">
        <nav id="myTopnav" class="botton__topnav">
            <a href="timetable">Расписание</a>
            <a href="staff">Сотрудники</a>
            <a href="vacancy">Вакансии</a>
            <a href="#" id="abit">Абитуриентам &#9658</a>
            <div id="abitur" class="abitur">
                <a href="bacalavriat">&#9999 Бакалавриат</a>
                <a href="magistratura">&#9999 Магистратура</a>
                <a href="aspirantura">&#9999 Аспирантура</a>
            </div>
            <a href="#" id="quick">Quicklinks &#9658</a>
            <div id="quickl" class="quickl">
                <a href="https://biz.mail.ru/login/metalab.ifmo.ru">&#9999 Mail</a>
                <a href="https://wiki.physics.itmo.ru/Main_Page">&#9999 Wiki</a>
                <a href="https://redmine.physics.itmo.ru/login?back_url=https%3A%2F%2Fredmine.physics.itmo.ru%2F">&#9999
                    Redmine</a>
            </div>
            <a href="#" id="issl">Исследования &#9658</a>
            <div id="issled" class="issled">
                <a href="science-groups">&#9999 Научные группы</a>
                <a href="publications">&#9999 Публикации</a>
            </div>
            <a href="#" id="onas">О New Phystech &#9658</a>
            <div id="onewph" class="onewph">
                <a href="smiaboutus">&#9999 СМИ о нас</a>
                <a href="video">&#9999 Видео</a>
                <a href="history">&#9999 История</a>
            </div>
        </nav>
    </div>

</header>
<div id="mySite" class="body__site">
    <div class="sotrudniki-begin" style="margin-left: 4%; margin-top: 2%;">
        <h1 style="text-align: center;">Еще один шаг к квантовым компьютерам: ученые ИТМО предложили модель, которая
            позволит защитить квантовые вычисления от беспорядка</h1>
        <h1 style="text-align: center;">Название новости</h1>
    </div>
    <div class="line" style="margin-top: 2%;"></div>
    <div class="opisanie-news">
        <p>Фото: Дмитрий Григорьев / ITMO.NEWS</p>
        <p>На сегодня квантовые компьютеры ― дело не столь далекого будущего и не научная фантастика. Прототипы
            квантовых процессоров уже разрабатывают такие ИТ-гиганты, как Google, Intel и IBM. И уже есть </p>
        <p>, что они превосходят классические компьютеры. Основа таких устройств ― это кубит, двухуровневая квантовая
            система, которая хранит и обрабатывает информацию. В отличие от классических процессоров, которые работают
            на основе двоичной системы (1 ― включен и 0 ― выключен), квантовый бит может находиться в произвольной
            суперпозиции этих двух состояний.</p>
        <p>Развитию квантовых процессоров мешает разброс параметров системы, который неизбежно возникает при
            изготовлении кубитов. Проще говоря, квантовые биты обладают разными физическими характеристиками, и разброс
            этих параметров негативно сказывается на стабильности работы всей системы. Кроме того, взаимодействие с
            окружающей средой и тепловые шумы разрушают суперпозиционные состояния кубитов, из-за чего могут возникать
            проблемы с обработкой и хранением информации.</p>
        <p>Чтобы преодолеть это препятствие, ученые Нового физтеха предложили использовать принципы топологии:</p>
        <p> </p>
        <p>Ученые уже используют это свойство при разработке топологически защищенных волноводов, резонаторов и лазеров,
            функционал которых не зависит от дефектов структуры. Но возможность с помощью похожих подходов защитить
            квантовую запутанность или квантовые вычисления оставалась практически неисследованной. Топологические
            состояния в кубитах изучались и раньше, но обычно в научных работах рассматривались одномерные и
            одночастичные состояния, что не позволяло реализовывать квантовую запутанность. Исследователи ИТМО
            смоделировали двумерную систему и пару фотонов в ней ― так появляется несколько дополнительных степеней
            свободы, а топологические состояния могут быть не только краевыми, но и угловыми. </p>
        <p>Ученые проверили, как беспорядок в системе может влиять на краевые состояния. Для этого они промоделировали
            реальную структуру, в которой кубиты немного различаются, и убедились в топологической защите квантового
            состояния:</p>
        <p> </p>
        <p>В будущем авторы планируют продолжить исследования сверхпроводящих квантовых процессоров, находя применения
            полученным результатам:</p>
        <p>Это исследование ― одно из направлений, которым занимаются сотрудники фронтирной лаборатории </p>
        <p> созданной при поддержке программы развития Университета ИТМО ― 2030. Также работа поддержана грантом
            Российского научного фонда.</p>
        <p> </p>
        <p> </p>
        <p>Журналист</p>
        <p>199034, Россия, Санкт-Петербург,</p>
        <p>
            Биржевая линия, д. 16, офис 538</p>
        <p>+7 (812) 607-02-61</p>
        <p>© </p>
        <p> ITMO University. All rights reserved.</p>


        <a href="#">
            <input type="button" class="knopki-for-news" value="Регистрация"
                   style="margin-top:2%; margin-left: 6.7%; font-size: 150%;">
        </a>
    </div>
    <div class="squre-infa-about-down">
        <div class="squre-infa-about-down-networks">
            <a href="https://vk.com/physics.itmo">
                <img src="https://physics.itmo.ru/sites/default/files/2022-05/vk.png" alt="">
            </a>
            <a href="https://t.me/physics_itmo">
                <img style="margin-left: 20px;" src="https://physics.itmo.ru/sites/default/files/2022-05/telegram.png"
                     alt="">
            </a>
            <a href="https://www.youtube.com/channel/UCQTIT_zjRMhryifECo4bWfQ">
                <img style="margin-left: 20px;" src="https://physics.itmo.ru/sites/default/files/2022-05/youtube.png"
                     alt="">
            </a>
        </div>

        <div class="squre-infa-contact">
            <div class="squre-infa-contact-phone">
                <h5>Телефон</h5>
                <h5>+7 (812) 607-02-61</h5>
                <h5 style="margin-top: 10px;">E-Mail</h5>
                <h5>edu@physics.itmo.ru</h5>
            </div>
            <div class="squre-infa-contact-address">
                <h5>Адрес</h5>
                <h5>199034, Россия, Санкт-Петербург,
                    Биржевая линия, д. 16, офис 538</h5>
            </div>
        </div>

    </div>
</div>
<div class="scrollTop" onclick="myScrollTop()"></div>
<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
