<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleMenu.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>NewPhystech</title>

</head>


<body>

<header id="myHead" class="head">
    <div id="myUp" class="head__up">
        <nav class="up__logo">
            <a href="/">
                <p class="logo__new">Новый</p>
                <p class="logo__phystech">Физтех</p>
            </a>
        </nav>
        <nav id="myBurger" class="up__burger">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </nav>
    </div>

    <div id="myBottom" class="head__bottom">
        <nav id="myTopnav" class="botton__topnav">
            <a href="timetable">Расписание</a>
            <a href="staff">Сотрудники</a>
            <a href="vacancy">Вакансии</a>
            <a href="#" id="abit">Абитуриентам &#9658</a>
            <div id="abitur" class="abitur">
                <a href="bacalavriat">&#9999 Бакалавриат</a>
                <a href="magistratura">&#9999 Магистратура</a>
                <a href="aspirantura">&#9999 Аспирантура</a>
            </div>
            <a href="#" id="quick">Quicklinks &#9658</a>
            <div id="quickl" class="quickl">
                <a href="https://biz.mail.ru/login/metalab.ifmo.ru">&#9999 Mail</a>
                <a href="https://wiki.physics.itmo.ru/Main_Page">&#9999 Wiki</a>
                <a href="https://redmine.physics.itmo.ru/login?back_url=https%3A%2F%2Fredmine.physics.itmo.ru%2F">&#9999
                    Redmine</a>
            </div>
            <a href="#" id="issl">Исследования &#9658</a>
            <div id="issled" class="issled">
                <a href="science-groups">&#9999 Научные группы</a>
                <a href="publications">&#9999 Публикации</a>
            </div>
            <a href="#" id="onas">O New Phystech &#9658</a>
            <div id="onewph" class="onewph">
                <a href="smiaboutus">&#9999 СМИ о нас</a>
                <a href="video">&#9999 Видео</a>
                <a href="history">&#9999 История</a>
            </div>
        </nav>
    </div>

</header>
<div id="mySite" class="body__site">
    <div class="sotrudniki-begin" style="margin-left: 4%; margin-top: 2%;">
        <h1 style="text-align: center;">Лауреат ITMO.EduLeaders Андрей Кудлис — о том, почему физика полезна всем</h1>
        <h1 style="text-align: center;">Название новости</h1>
    </div>
    <div class="line" style="margin-top: 2%;"></div>
    <div class="opisanie-news">
        <p>Андрей Кудлис. Фото: Дмитрий Григорьев / ITMO.NEWS</p>
        <p> </p>
        <p>— В конце десятого класса я понял: чтобы достигать целей, прежде всего нужно отдавать должное внимание
            развитию своего интеллекта. При этом я всегда придерживался точки зрения, что если сложно, если тебя
            буквально загибает от напряжения в учебе ― это хорошо, потому что там, где просто, нет никакого развития.
            Чтобы максимально нагрузить свой мозг, я мог бы заняться математикой. Но я понимал, что мне не интересен
            этот предмет в чистом виде. Другое дело ― физика, поэтому я выбрал именно ее. К тому же, мне просто нравится
            это направление: оно незаурядное и несет в себе много нового. Физика никогда не дает заскучать.</p>
        <p>— Физико-технический факультет (Новый физтех), который образовался шесть лет назад, а год назад </p>
        <p> в мегафакультет, — прекрасное место. Ребята, которые здесь работают, доказали, что в России можно сделать
            конкурентоспособную научно-образовательную структуру с хорошими зарплатами и молодым коллективом. На
            факультете мы делаем классные исследования, которые действительно интересуют научное сообщество в нашей
            стране и за ее пределами.</p>
        <p>Мне нравится, как выстроена эта система. Ее можно сравнить с кораблем с большим количеством отсеков.
            Допустим, их 13 штук, и даже если у вас затопило 4-5 отсеков, судно еще будет держаться на плаву. Здесь я
            имею ввиду, конечно же, грантовую основу формирования бюджета факультета. Даже если у одной части коллектива
            есть трудности и неудачи, их можно компенсировать за счет успешной работы других сотрудников и система в
            целом будет оставаться устойчивой. Но это требует ответственного отношения к работе подавляющей части
            коллектива.</p>
        <p>Еще мне нравится, что в ИТМО и на Новом физтехе понимают, что для развития науки, особенно чтобы получать
            финансирование на исследования, нужно заниматься PR и продвижением. Это как раз то, к чему физики обычно
            относятся несерьезно и не принимают в расчет, а ведь это важно.</p>
        <p> </p>
        <p>— В СПбГУ я занимался другой тематикой, над которой работал мой научный руководитель, — физикой критического
            поведения. Чтобы на пальцах объяснить, что это такое, приведу свой любимый пример. Есть такие материалы, как
            ферромагнетики, они обладают спонтанной намагниченностью. Это значит, что материал состоит из очень
            маленьких магнитиков — источников магнитного поля, которые преимущественно ориентированы в одном
            направлении, так распорядилась природа.</p>
        <p>Если они смотрят в одну сторону, у ферромагнетиков появляется так называемая спонтанная намагниченность. Но
            если же все магнитики направлены в разные стороны, то никакого магнитного поля не будет, и такие материалы
            будут находиться в так называемой парамагнитной фазе. Однако из-за повышения температуры каждый из этих
            магнитиков стремится изменить свою ориентацию в пространстве, все больше и больше отклоняясь от некоторого
            выделенного направления.</p>
        <p>Как только температура достигает определенной критической точки — для магнетиков такая точка называется
            точкой Кюри, спонтанная намагниченность исчезает, а магнитики разупорядочиваются хаотичным образом. Такой
            процесс физики называют фазовым переходом второго рода. Чтобы увидеть это явление в жизни, вы можете
            провести эксперимент: взять зажигалку и подогреть ею магнит, прикрепленный к холодильнику. Через несколько
            секунд он отвалится, потому что у вас произошел переход второго рода. Физика критического поведения
            описывает свойства физической системы вблизи критической точки, и это то, чем я занимался в СПбГУ.</p>
        <p>Но я считаю, что, если человек получил приличное базовое образование и в его окружении есть эксперты, которые
            могут посоветовать изучить что-то актуальное, у него не будет проблем с тем, чтобы заниматься любой научной
            областью. В ИТМО я начал трудиться над абсолютно другими вещами, в которых у меня не было никакого опыта, —
            над физикой полупроводников, а именно теоретическим описанием поведения физических систем. Другими словами,
            я занимаюсь численными расчетами для широкого спектра задач теоретической физики.</p>
        <p> </p>
        <p>— Я присоединился к Новому физтеху в ноябре 2019 года, то есть два с половиной года назад. Сначала один
            семестр я вел занятия по «Общей физике» у групп, где этот предмет не был профильным ― например у
            IT-специалистов. Всё прошло хорошо, все остались довольны, поэтому в следующем семестре меня отправили
            преподавать этот же предмет студентам бакалавриата на Новом физтехе. Сейчас я веду практические занятия у
            двух групп и, помимо этого, читаю специальный курс, который помогает студентам расширять кругозор. Например,
            я учу их, как применять квантовую теорию поля не только в физике высоких энергий, но и в физике
            конденсированного состояния.</p>
        <p>Вообще, на Новом физтехе есть несколько вариантов, как можно развиваться: заниматься исключительно наукой,
            только преподавать или же балансировать посередине. В зависимости от выбора меняется нагрузка на сотрудников
            в том или ином направлении. Я выбрал третий путь ― сочетание научной деятельности и преподавания, и меня
            этот вариант полностью устраивает.</p>
        <p>В работе я придерживаюсь такого подхода: я ценю место, в котором работаю, и хочу, чтобы меня также ценили как
            сотрудника. Для этого я должен приносить пользу факультету. Есть много разных способов, как это сделать ―
            например, хорошо преподавать. Университету это выгодно, потому что по сарафанному радио абитуриенты узнают,
            что в университете работают талантливые педагоги, и хотят туда поступить. Вчерашние школьники в будущем
            станут хорошими научными сотрудниками и специалистами. Они привлекут новое финансирование для исследований и
            будут развивать факультет и университет в целом. Здесь я вижу одну лишь пользу.</p>
        <p>Но учить других — это, как мне кажется, большое искусство. Нельзя просто прийти и что-то рассказать. Нужно
            подготовить лекции и семинары, проработать самому каждую задачу, которую ты планируешь предложить студентам,
            — это серьезная инвестиция времени.</p>
        <p> </p>
        <p>— Приведу пример из личного опыта. Я никогда не говорю студентам, что, если они не станут физиками или не
            будут заниматься наукой, они обречены. Студенты приходят на Новый физтех, чтобы научиться думать, а для
            этого только лишь числиться на факультете недостаточно. Чтобы научиться думать, нужно много и упорно
            работать. Если они не видят явных причин, почему они должны учить общую физику, математический анализ и так
            далее, пусть они задумаются о том, что все перечисленные науки учат их системно мыслить.</p>
        <p>Почему многие крупные бизнесмены получили образование на физическом факультете? Говоря на языке физики, чтобы
            управлять финансами, нужно уметь решать многопараметрические задачи. С другой стороны, если студенты
            показывают, что могут написать диссертацию по какой-либо нетривиальной теме, которая непонятна для 99%
            населения планеты, работодатель будет иметь в виду, что с непонятной задачей в индустрии они тоже смогут
            справиться. Поэтому я призываю студентов учиться системно мыслить и выстраивать красоту ума с помощью физики
            и математики.</p>


        <a href="#">
            <input type="button" class="knopki-for-news" value="Регистрация"
                   style="margin-top:2%; margin-left: 6.7%; font-size: 150%;">
        </a>

    </div>
    <div class="squre-infa-about-down">
        <div class="squre-infa-about-down-networks">
            <a href="https://vk.com/physics.itmo">
                <img src="https://physics.itmo.ru/sites/default/files/2022-05/vk.png" alt="">
            </a>
            <a href="https://t.me/physics_itmo">
                <img style="margin-left: 20px;" src="https://physics.itmo.ru/sites/default/files/2022-05/telegram.png"
                     alt="">
            </a>
            <a href="https://www.youtube.com/channel/UCQTIT_zjRMhryifECo4bWfQ">
                <img style="margin-left: 20px;" src="https://physics.itmo.ru/sites/default/files/2022-05/youtube.png"
                     alt="">
            </a>
        </div>

        <div class="squre-infa-contact">
            <div class="squre-infa-contact-phone">
                <h5>Телефон</h5>
                <h5>+7 (812) 607-02-61</h5>
                <h5 style="margin-top: 10px;">E-Mail</h5>
                <h5>edu@physics.itmo.ru</h5>
            </div>
            <div class="squre-infa-contact-address">
                <h5>Адрес</h5>
                <h5>199034, Россия, Санкт-Петербург,
                    Биржевая линия, д. 16, офис 538</h5>
            </div>
        </div>

    </div>
</div>
<div class="scrollTop" onclick="myScrollTop()"></div>
<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
