<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='styleMenu.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<title>NewPhystech</title>

</head>
<body style="font-family: 'Helvetica';">
<header id="myHead" class="head">

    <div class="head__up">
        <nav class="up__logo">
            <p class="logo__new">Новый</p>
            <p class="logo__phystech">Физтех</p>
        </nav>
        <nav id="myBurger" class="up__burger">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </nav>
    </div>

    <div id="myBottom" class="head__bottom">
        <nav id="myTopnav" class="botton__topnav">
            <a href="#">Расписание</a>
            <a href="#" id="abit">Абитуриентам &#9658</a>
            <div id="abitur" class="abitur">
                <a href="bacalavriat">&#9999 Бакалавриат</a>
                <a href="magistratura">&#9999 Магистратура</a>
                <a href="aspirantura">&#9999 Аспирантура</a>
            </div>
            <a href="#" id="sotr">Сотрудники &#9658</a>
            <div id="sotrud" class="sotrud">
                <a href="staff">&#9999 Сотрудники</a>
            </div>
            <a href="#" id="quick">Quicklinks &#9658</a>
            <div id="quickl" class="quickl">
                <a href="#">&#9999 Mail</a>
                <a href="#">&#9999 Wiki</a>
                <a href="#">&#9999 Redmine</a>
            </div>
            <a href="#" id="issl">Исследования &#9658</a>
            <div id="issled" class="issled">
                <a href="#">&#9999 Научные группы</a>
                <a href="publications">&#9999 Публикации</a>
            </div>
            <a href="vacancy">Вакансии</a>
            <a href="#" id="onas">О New Phystech &#9658</a>
            <div id="onewph" class="onewph">
                <a href="smiaboutus">&#9999 СМИ о нас</a>
                <a href="video">&#9999 Видео</a>
                <a href="history">&#9999 История</a>
            </div>
        </nav>
    </div>
	</header>



<div id="mySite" class="body__site">
  <div class="sotrudniki-begin" style="margin-left:4%; margin-top:2%;">
		<h1>Аспирантура</h1>
  </div>
  <div class="line" style="margin-top:2%;"></div>
	<div class="center">
	  <div class="otstup-prohod">
	    <ul class="squre-prohod">
        <li>
          <h2>01.04.01</h2>
          <h2>Приборы и методы экспериментальной физики</h2>
        </li>
        <li>
          <h2>01.04.02</h2>
          <h2>Теоретическая физика</h2>
        </li>
        <li>
          <h2>01.04.03</h2>
          <h2>Радиофизика</h2>
        </li>
        <li>
          <h2>01.04.05</h2>
          <h2>Оптика</h2>
        </li>
        <li>
          <h2>01.04.07</h2>
          <h2>Физика конденсированного состояния</h2>
        </li>
        <li>
          <h2>05.12.07</h2>
          <h2>Антенны, СВЧ устройства и РЧ технологии</h2>
        </li>
      <ul>
	    <div class="about-us">
	      <h3 style="margin-top:2vh;">Новый физтех (физико-технический факультет Университета ИТМО) создан на базе Международного научно-исследовательского центра нанофотоники и метаматериалов, сотрудники которого успешно занимаются наукой с 2009 года. Коллектив начинал как небольшая лаборатория, и за 10 лет вырос в крупное научно-образовательное объединение.</h3>
        <h3 style="margin-top:2vh;">На физико-техническом факультете реализован полный цикл обучения от поступления в бакалавриат до получения диплома кандидата наук Университета ИТМО и дальше могут продолжать научные исследования в докторантуре ИТМО.
Аспиранты проводят научные исследования по актуальным проблемам современной нанофотоники, радиофизики и теоретической физики под руководством действующих ученых мирового уровня. </h3>
        <h3 style="margin-top:2vh;">Результаты исследований регулярно публикуются в высокорейтинговых научных журналах, участвуют в конференциях. </h3>
        <h3 style="margin-top:2vh;">Выпускники аспирантуры являются востребованными на международном рынке труда специалистами, обладают необходимыми компетенциями для работы на престижных научных институтах в России и за рубежом.</h3>
        <h1 style="margin-top: 5vh;">
	        Контактное лицо
	      </h1>
	    </div>
	    <!-- list-style-type: none; -->
	    <div class="contact">
	      <div class="contact-photo">
	        <img src="https://physics.itmo.ru/sites/default/files/styles/round/public/personality/photo/1473.jpg?itok=52cW3ZJc" alt="Avatar" style="border-radius: 50%; width:30vh;">
	      </div>
        <div class="contact-photo">
	        <h2 class="contact">Александр Трофимов</h2>
	        <h2 class="contact">Менеджер по вопросам аспирантуры</h2>
	        <h2 class="contact">alexandr.trofimov@metalab.ifmo.ru</h2>
					<h2 class="contact">+79819814576</h2>
	      </div>

	    </div>
      </ul>
	  </div>
	</div>
    </div>
<div class="scrollTop" onclick="myScrollTop()"></div>
	<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>