<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='styleMenu.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<title>NewPhystech</title>

</head>

<body style="font-family: 'Helvetica';">
	<header id="myHead" class="head">
    <div class="headerLogo">
		<a href="/"></a>
<p>Знаете ли вы, что такое умная упаковка?</p>
<p>
А может быть, не только знаете, но и готовы принять участие в ее разработке?</p>
    <nav id="myTopnav" class="topnav">
        <a id="abit">Абитуриентам</a>
        <div id="abitur" class="abitur">
            <a href="bacalavriat">Бакалавриат</a>
            <a href="magistratura">Магистратура</a>
            <a href="aspirantura">Аспирантура</a>
        </div>
        <a id="sotr">Сотрудники</a>
        <div id="sotrud" class="sotrud">
            <a href="staff">Сотрудники</a>
            <a href="ur_help">Юридическая поддержка</a>
        </div>
        <a id="quick">Quicklinks</a>
        <div id="quickl" class="quickl">
            <a href="#">Mail</a>
            <a href="#">Wiki</a>
            <a href="#">Redmine</a>
        </div>
        <a id="issl">Исследования</a>
        <div id="issled" class="issled">
            <a href="#">Оборудование</a>
            <a href="#">Научные группы</a>
            <a href="publications">Публикации</a>
            <a href="#">Патенты</a>
        </div>
        <a href="vacancy">Вакансии</a>
        <a id="onas">О New Phystech</a>
        <div id="onewph" class="onewph">
            <a href="smiaboutus">СМИ о нас</a>
            <a href="video">Видео</a>
            <a href="history">История</a>
        </div>
    </nav>
    <nav class="burger" id="myBurger">
        <a href="#" id="menu" class="iconMenu">&#9776</a>
        <a href="#" id="clos" class="iconClos">&#10006</a>
    </nav>
</header>

	<div class="sotrudniki-begin" style="margin-left: 4%; margin-top: 2%;">
<h1 style="text-align: center;">Открытый конкурс «Умная Упаковка»</h1>			<h1 style="text-align: center;">Название новости</h1>
	</div>
	<div class="line" style="margin-top: 2%;"></div>
	<div class="opisanie-news">
<p>
Новый физтех и «Санкт-Петербургская Образцовая типография» приглашают всех желающих принять участие в конкурсе «Умная Упаковка».</p>
<p>С вас — идея инновационного проекта новых упаковочных решений с применением печатной электроники, оптики, «Интернета вещей», RFID для широкого круга потребителей на основе современных технологий печати.</p>
<p>С нас — возможность реализовать ваш проект на базе Нового физтеха и нашего партнера «Санкт-Петербургской Образцовой типографии», премия в размере 30 000 рублей и возможность дальнейшего развития проекта в эко-системе Университета ИТМО с привлечением финансирования и средств производства.</p>
<p>
Заинтересовались? Тогда скорее заполняйте </p>
<p>, чтобы поделиться с миром своей гениальной идеей!</p>
<p>.</p>
<p>Дедлайн подачи заявок — 26 июня.</p>
<p>
Сделаем упаковку «умной» вместе </p>
<p>199034, Россия, Санкт-Петербург,</p>
<p>
Биржевая линия, д. 16, офис 538</p>
<p>+7 (812) 607-02-61</p>
<p>© </p>
<p> ITMO University. All rights reserved.</p>




	<a href="#">
		<input type="button" class="knopki-for-news" value="Регистрация" style="margin-top:2%; margin-left: 6.7%; font-size: 150%;">
	</a>


	<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>