<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='styleMenu.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<title>NewPhystech</title>

</head>

<body style="font-family: 'Helvetica';">
	<header id="myHead" class="head">
    <div class="headerLogo">
		<a href="/"></a>
<p>Совет по грантам Президента Российской Федерации объявил победителей конкурса для государственной поддержки ведущих научных школ. В их число вошло два коллектива Университета ИТМО ― под руководством докторов физико-математических наук Павла Белова и Владислава Бугрова.</p>
<p>Фото: ITMO.NEWS</p>
    <nav id="myTopnav" class="topnav">
        <a id="abit">Абитуриентам</a>
        <div id="abitur" class="abitur">
            <a href="bacalavriat">Бакалавриат</a>
            <a href="magistratura">Магистратура</a>
            <a href="aspirantura">Аспирантура</a>
        </div>
        <a id="sotr">Сотрудники</a>
        <div id="sotrud" class="sotrud">
            <a href="staff">Сотрудники</a>
            <a href="ur_help">Юридическая поддержка</a>
        </div>
        <a id="quick">Quicklinks</a>
        <div id="quickl" class="quickl">
            <a href="#">Mail</a>
            <a href="#">Wiki</a>
            <a href="#">Redmine</a>
        </div>
        <a id="issl">Исследования</a>
        <div id="issled" class="issled">
            <a href="#">Оборудование</a>
            <a href="#">Научные группы</a>
            <a href="publications">Публикации</a>
            <a href="#">Патенты</a>
        </div>
        <a href="vacancy">Вакансии</a>
        <a id="onas">О New Phystech</a>
        <div id="onewph" class="onewph">
            <a href="smiaboutus">СМИ о нас</a>
            <a href="video">Видео</a>
            <a href="history">История</a>
        </div>
    </nav>
    <nav class="burger" id="myBurger">
        <a href="#" id="menu" class="iconMenu">&#9776</a>
        <a href="#" id="clos" class="iconClos">&#10006</a>
    </nav>
</header>

	<div class="sotrudniki-begin" style="margin-left: 4%; margin-top: 2%;">
<h1 style="text-align: center;">Курс «Установки Mega-Science в России и за рубежом»</h1>			<h1 style="text-align: center;">Название новости</h1>
	</div>
	<div class="line" style="margin-top: 2%;"></div>
	<div class="opisanie-news">
<p> </p>
<p>Научная школа — коллектив численностью не менее 10 человек, который работает в рамках одного научного направления. Он состоит из руководителя и исследователей и готовит научные кадры по образовательным программам.</p>
<p>Ежегодно Минобрнауки России и Совет по грантам </p>
<p> конкурс для научных школ, победителям которого выделяют гранты на проведение научных исследований в течение следующих двух лет. Комиссия оценивает количество публикаций в журналах Web of Science и Scopus, докладов и сообщений на конференциях, результаты интеллектуальной деятельности, научно-педагогическую работу и общественное признание (премии, медали и другие награды) за прошедшие три года. Кроме того, учитывается актуальность и новизна планируемого научного исследования, значимость ожидаемых результатов и их вклад в реализацию приоритетов научно-технологического развития страны.</p>
<p>В 2021 году в направлении «Технические науки» победителями конкурса </p>
<p> сразу две научные школы, представляющие Университет ИТМО. Одной из них руководит профессор, доктор физико-математических наук </p>
<p>. В рамках гранта он вместе с командой будет проводить научное исследование «Теории и практики перспективных материалов и устройств оптоэлектроники и электроники». </p>
<p> </p>
<p>Руководитель другой научной школы ― доцент, доктор физико-математических наук </p>
<p> ― получил грант на исследование беспроводных технологий для магнитно-резонансной томографии. Этот проект направлен на разработку комплексного подхода, включающего развитие аппаратной радиочастотной части, оптимизацию импульсных последовательностей и создание новых методов обработки магнитно-резонансных сигналов для улучшения визуализации как в клинической, так и доклинической МРТ.</p>
<p> </p>
<p>В этом году размер гранта для научных школ составляет 2,9 миллиона рублей в год для финансирования фундаментальных и прикладных научных исследований. Всего из 112 заявок на участие было отобрано 50 победителей, а в направлении «Технические науки» — 10.</p>
<p> </p>
<p>Журналист</p>
<p>199034, Россия, Санкт-Петербург,</p>
<p>
Биржевая линия, д. 16, офис 538</p>
<p>+7 (812) 607-02-61</p>
<p>© </p>
<p> ITMO University. All rights reserved.</p>




	<a href="#">
		<input type="button" class="knopki-for-news" value="Регистрация" style="margin-top:2%; margin-left: 6.7%; font-size: 150%;">
	</a>


	<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>