<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='styleMenu.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<title>NewPhystech</title>

</head>

<body style="font-family: 'Helvetica';">
	<header id="myHead" class="head">
    <div class="headerLogo">
		<a href="/"></a>
<p>Уже через несколько дней пройдет воркшоп с представителями бизнеса «Беспроводные технологии будущего» для студентов и абитуриентов магистратуры</p>
<p>
Не упустите свой шанс попасть на стажировку в крупную индустриальную компанию </p>
    <nav id="myTopnav" class="topnav">
        <a id="abit">Абитуриентам</a>
        <div id="abitur" class="abitur">
            <a href="bacalavriat">Бакалавриат</a>
            <a href="magistratura">Магистратура</a>
            <a href="aspirantura">Аспирантура</a>
        </div>
        <a id="sotr">Сотрудники</a>
        <div id="sotrud" class="sotrud">
            <a href="staff">Сотрудники</a>
            <a href="ur_help">Юридическая поддержка</a>
        </div>
        <a id="quick">Quicklinks</a>
        <div id="quickl" class="quickl">
            <a href="#">Mail</a>
            <a href="#">Wiki</a>
            <a href="#">Redmine</a>
        </div>
        <a id="issl">Исследования</a>
        <div id="issled" class="issled">
            <a href="#">Оборудование</a>
            <a href="#">Научные группы</a>
            <a href="publications">Публикации</a>
            <a href="#">Патенты</a>
        </div>
        <a href="vacancy">Вакансии</a>
        <a id="onas">О New Phystech</a>
        <div id="onewph" class="onewph">
            <a href="smiaboutus">СМИ о нас</a>
            <a href="video">Видео</a>
            <a href="history">История</a>
        </div>
    </nav>
    <nav class="burger" id="myBurger">
        <a href="#" id="menu" class="iconMenu">&#9776</a>
        <a href="#" id="clos" class="iconClos">&#10006</a>
    </nav>
</header>

	<div class="sotrudniki-begin" style="margin-left: 4%; margin-top: 2%;">
<h1 style="text-align: center;">Воркшоп с представителями бизнеса «Беспроводные технологии будущего» </h1>			<h1 style="text-align: center;">Название новости</h1>
	</div>
	<div class="line" style="margin-top: 2%;"></div>
	<div class="opisanie-news">
<p>Дата: 14 апреля в 14:00</p>
<p>Формат и место проведения: онлайн+офлайн (Санкт-Петербург, Университет ИТМО, ул. Ломоносова,9)</p>
<p>Программа: </p>
<p>
Воркшоп Нового физтеха «Беспроводные технологии будущего» — это открытая площадка для знакомства начинающих специалистов с заинтересованными работодателями. Мы позвали наших партнёров из Huawei, RadioGigabit и Corning, чтобы вы могли из первых уст услышать, что для работодателей такого масштаба действительно важно.</p>
<p>
Если вы готовы заявить о себе, то приготовьте постер о своем исследовании и представьте его на постерной сессии (это ваш шанс завести полезные контакты в индустрии </p>
<p>). Подробности о формате постера в форме регистрации.</p>
<p>
Зарегистрироваться можно здесь: офлайн  — </p>
<p>, онлайн  — </p>
<p>199034, Россия, Санкт-Петербург,</p>
<p>
Биржевая линия, д. 16, офис 538</p>
<p>+7 (812) 607-02-61</p>
<p>© </p>
<p> ITMO University. All rights reserved.</p>




	<a href="#">
		<input type="button" class="knopki-for-news" value="Регистрация" style="margin-top:2%; margin-left: 6.7%; font-size: 150%;">
	</a>


	<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>