<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='styleMenu.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<title>NewPhystech</title>

</head>

<body style="font-family: 'Helvetica';">
	<header id="myHead" class="head">
    <div class="headerLogo">
		<a href="/"></a>
<p>Фото: Дмитрий Григорьев / ITMO.NEWS</p>
<p>На сегодня квантовые компьютеры ― дело не столь далекого будущего и не научная фантастика. Прототипы квантовых процессоров уже разрабатывают такие ИТ-гиганты, как Google, Intel и IBM. И уже есть </p>
    <nav id="myTopnav" class="topnav">
        <a id="abit">Абитуриентам</a>
        <div id="abitur" class="abitur">
            <a href="bacalavriat">Бакалавриат</a>
            <a href="magistratura">Магистратура</a>
            <a href="aspirantura">Аспирантура</a>
        </div>
        <a id="sotr">Сотрудники</a>
        <div id="sotrud" class="sotrud">
            <a href="staff">Сотрудники</a>
            <a href="ur_help">Юридическая поддержка</a>
        </div>
        <a id="quick">Quicklinks</a>
        <div id="quickl" class="quickl">
            <a href="#">Mail</a>
            <a href="#">Wiki</a>
            <a href="#">Redmine</a>
        </div>
        <a id="issl">Исследования</a>
        <div id="issled" class="issled">
            <a href="#">Оборудование</a>
            <a href="#">Научные группы</a>
            <a href="publications">Публикации</a>
            <a href="#">Патенты</a>
        </div>
        <a href="vacancy">Вакансии</a>
        <a id="onas">О New Phystech</a>
        <div id="onewph" class="onewph">
            <a href="smiaboutus">СМИ о нас</a>
            <a href="video">Видео</a>
            <a href="history">История</a>
        </div>
    </nav>
    <nav class="burger" id="myBurger">
        <a href="#" id="menu" class="iconMenu">&#9776</a>
        <a href="#" id="clos" class="iconClos">&#10006</a>
    </nav>
</header>

	<div class="sotrudniki-begin" style="margin-left: 4%; margin-top: 2%;">
<h1 style="text-align: center;">Еще один шаг к квантовым компьютерам: ученые ИТМО предложили модель, которая позволит защитить квантовые вычисления от беспорядка</h1>			<h1 style="text-align: center;">Название новости</h1>
	</div>
	<div class="line" style="margin-top: 2%;"></div>
	<div class="opisanie-news">
<p>, что они превосходят классические компьютеры. Основа таких устройств ― это кубит, двухуровневая квантовая система, которая хранит и обрабатывает информацию. В отличие от классических процессоров, которые работают на основе двоичной системы (1 ― включен и 0 ― выключен), квантовый бит может находиться в произвольной суперпозиции этих двух состояний.</p>
<p>Развитию квантовых процессоров мешает разброс параметров системы, который неизбежно возникает при изготовлении кубитов. Проще говоря, квантовые биты обладают разными физическими характеристиками, и разброс этих параметров негативно сказывается на стабильности работы всей системы. Кроме того, взаимодействие с окружающей средой и тепловые шумы разрушают суперпозиционные состояния кубитов, из-за чего могут возникать проблемы с обработкой и хранением информации.</p>
<p>Чтобы преодолеть это препятствие, ученые Нового физтеха предложили использовать принципы топологии:</p>
<p> </p>
<p>Ученые уже используют это свойство при разработке топологически защищенных волноводов, резонаторов и лазеров, функционал которых не зависит от дефектов структуры. Но возможность с помощью похожих подходов защитить квантовую запутанность или квантовые вычисления оставалась практически неисследованной. Топологические состояния в кубитах изучались и раньше, но обычно в научных работах рассматривались одномерные и одночастичные состояния, что не позволяло реализовывать квантовую запутанность. Исследователи ИТМО смоделировали двумерную систему и пару фотонов в ней ― так появляется несколько дополнительных степеней свободы, а топологические состояния могут быть не только краевыми, но и угловыми. </p>
<p>Ученые проверили, как беспорядок в системе может влиять на краевые состояния. Для этого они промоделировали реальную структуру, в которой кубиты немного различаются, и убедились в топологической защите квантового состояния:</p>
<p> </p>
<p>В будущем авторы планируют продолжить исследования сверхпроводящих квантовых процессоров, находя применения полученным результатам:</p>
<p>Это исследование ― одно из направлений, которым занимаются сотрудники фронтирной лаборатории </p>
<p> созданной при поддержке программы развития Университета ИТМО ― 2030. Также работа поддержана грантом Российского научного фонда.</p>
<p> </p>
<p> </p>
<p>Журналист</p>
<p>199034, Россия, Санкт-Петербург,</p>
<p>
Биржевая линия, д. 16, офис 538</p>
<p>+7 (812) 607-02-61</p>
<p>© </p>
<p> ITMO University. All rights reserved.</p>




	<a href="#">
		<input type="button" class="knopki-for-news" value="Регистрация" style="margin-top:2%; margin-left: 6.7%; font-size: 150%;">
	</a>


	<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>