* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}


.head {
    width: 100%;
    background: #000;
    display: flex;
    position: sticky;
    top: 0;
    border-bottom-right-radius: 2vh;
    border-bottom-left-radius: 2vh;
}

.headerLogo {
    color: #fff;
    font-weight: 800;
    cursor: pointer;
    font-family: 'Helvetica', serif;
    display: block;
    margin: 24px 3.5% 24px 3.5%;
}

.new {
    font-size: 38px;
}

.phystech {
    font-size: 42px;
}

.topnav {
    text-align: center;
    margin: 56px auto 56px auto;
}

.topnav a {
    color: #fff;
    font-weight: 800;
    font-size: 24px;
    cursor: pointer;
    font-family: 'Helvetica', serif;
    padding: 12px 12px;
}

.topnav a:hover {
    color: #ffff00;
}

.burger {
    width: 100px;
    margin: 30px 3.5% 30px 3.5%;
}

.iconMenu {
    display: none;
}

.iconClos {
    display: none;
}

.abitur {
    display: none;
}

.sotrud {
    display: none;
}

.quickl {
    display: none;
}

.issled {
    display: none;
}

.onewph {
    display: none;
}

.abitur a {
    color: #808080;
    font-weight: 800;
    font-size: 18px;
}

.sotrud a {
    color: #808080;
    font-weight: 800;
    font-size: 18px;
}

.quickl a {
    color: #808080;
    font-weight: 800;
    font-size: 18px;
}

.issled a {
    color: #808080;
    font-weight: 800;
    font-size: 18px;
}

.onewph a {
    color: #808080;
    font-weight: 800;
    font-size: 18px;
}

@media screen and (max-width: 2100px) {
    .topnav a {
        display: none;
    }

    .iconMenu {
        color: #fff;
        font-weight: 800;
        font-size: 42px;
        cursor: pointer;
        font-family: 'Helvetica', serif;
        display: block;
        padding: 18px 30px;
    }

    .iconMenu.responsive {
        display: none;
    }

    .iconClos.responsive {
        color: #fff;
        font-weight: 200;
        font-size: 42px;
        cursor: pointer;
        font-family: 'Helvetica', serif;
        display: block;
        padding: 18px 30px;
    }

    .topnav.responsive {
        position: relative;
        text-align: center;
        margin: 24px auto;
    }


    .head.topnav.responsive {
        height: 100%;
    }

    .topnav.responsive a {
        display: block;
    }

    .abitur.click {
        display: block;
    }

    .sotrud.click {
        display: block;
    }

    .quickl.click {
        display: block;
    }

    .issled.click {
        display: block;
    }

    .onewph.click {
        display: block;
    }
}

