:root{
	--white: #f9f9f9;
	--black: #000000;
	--grey: #85888C;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: var(--white);
	font-family: "Poppins", sans-serif;
}

a{
	text-decoration: none;
}

ul{
	list-style: none;
}

.header{
	background-color: var(--black);
	box-shadow: 1px 1px 5px 0px var(--grey);
	position: sticky;
	top: 0;
	width: 100%;
}

.logo{
	display: inline-block;
	color: var(--white);
	font-size: auto;
	margin-left: 6.5%;
}

.nav{
	width: 100%;
	height: 100%;
	position: relative;
	background-color: var(--black);
	overflow: hidden;
	
}

.menu a{
	display: block;
	padding: 30px;
	font-size: 20px;
	color: var(--white);

}

.menu a:hover{
	background-color: var(--grey);
}

.nav{
	max-height: 0;
	transition: max-height .5s ease-out;
}

.hamb{
	cursor: pointer;
	float: right;
	padding: 40px 20px;
}

.hamb-line {
	background: var(--white);
	display: block;
	height: 2px;
	position: relative;
	width: 24px;
	
}

.hamb-line::before,
.hamb-line::after{
	background: var(--white);
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
}

.hamb-line::before{
	top: 5px;
}

.hamb-line::after{
	top: -5px;
}

.side-menu {
	display: none;
}

.side-menu:checked ~ nav{
	max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
	background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
	transform: rotate(-45deg);
	top:0;

}

.side-menu:checked ~ .hamb .hamb-line::after {
	transform: rotate(45deg);
	top:0;
}

@media (min-width: 768px) {
	.nav{
			max-height: none;
			top: 0;
			position: relative;
			float: right;
			width: fit-content;
			background-color: transparent;

	}

	.menu li{
			float: left;
	}

	.menu a:hover{
			background-color: transparent;
			color: var(--grey);
			
	}
	
	.hamb{
			display: none;
	}

}