* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.raspisanie {
    font-size: 24px;
    margin-top: 3.5%;
    margin-left: 3.5%;
    font-family: 'Helvetica', serif;
}

button {
    border: 0;
    border-radius: 12px;
    background: #4676D7;
    margin-left: 3.5%;
    margin-top: 3.5%;
    padding: 24px 24px;
    font-size: 24px;
    color: white;
}

.click3 button {
    border-radius: 3.7vh
}

button:hover {
    background: #1d49aa;
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
}
button:visited{
    color: black;
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
    background: #1d49aa;
}
.click2 {
    display: none;
}

.click3 {
    display: none;
}

.click2.on {
    display: block;
}

.click3.on {
    display: block;
}