* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.raspisanie {
    font-size: 20px;
    margin: 30px;
    font-family: 'Helvetica', serif;
}

button {
    border: 0;
    border-radius: 20px;
    background: #4676D7;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 15px;
    color: white;
}

.knopki__group__baka button,
.knopki__group__maga button {
    font-size: 10px;
}

button:focus {
    outline: none;
    background: #1d49aa;
    box-shadow: 0 0 0 4px #cbd6ee;
}

.knopki__group__baka {
    visibility: hidden;
    opacity: 0;
    transition: all .5s linear;
}

.knopki__group__maga {
    position: absolute;
    margin-top: -62.2px;
    visibility: hidden;
    opacity: 0;
    transition: all .5s linear;
}

.knopki__group__baka.on,
.knopki__group__maga.on {
    visibility: visible;
    opacity: 1;
}

.pdf__z3143, .pdf__z3144, .pdf__z3243,
.pdf__z3244, .pdf__z3343, .pdf__z41761,
.pdf__z41762, .pdf__z41772, .pdf__z41773,
.pdf__z41775 {
    position: fixed;
    top: 300px;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition: all .5s linear;
}

.pdf__z3143.on, .pdf__z3144.on, .pdf__z3243.on,
.pdf__z3244.on, .pdf__z3343.on, .pdf__z41761.on,
.pdf__z41762.on, .pdf__z41772.on, .pdf__z41773.on,
.pdf__z41775.on {
    pointer-events: visiblePainted;
    visibility: visible;
    opacity: 1;
}
